.styleThongBaoTongKet
{
    font-size: 30px;
    text-align: center;
}

.demoAddClassCSS
{
    font-weight: bold;
}

/* VÍ DỤ FORM ĐĂNG NHẬP  */

.thong__bao__dang__nhap
{
    background-color: aqua;
    color:black;
}